.navigation{
	border-radius: 0;
	border:0;
}

/*#userQuery ul li {
	border-bottom: 1px solid #333;
}*/

.flightPrice{
	background-color: #26a69a;
}

.flightPrice p{
	float:right;
	color:#fff;
}

.flightPrice button{
	margin-top: 5px;
	background-color: #30504d;
}

.airlineLogo{
	width:300px;
	height:100px;
	float: right;
}