body{
	font-family: 'Open Sans', sans-serif 
}

.navigation{
	border-radius: 0;
	border:0;
}

/*#userQuery ul li {
	border-bottom: 1px solid #333;
}*/

.airlineLogo{
	width:300px;
	height:100px;
	float: right;
}

h2{
	margin:0;
	position: relative;
	top:300px;
	text-align: center;
	font-family: 'Supermercado One', cursive;
}

/************************HomePage********************/
#wanderer-video{
	position:relative;
	text-align: center;
	top:-200px;
	margin-bottom: -200px;
	color:#fff;
	font-family: 'Supermercado One', cursive;
	transition: 1s;

}

@media screen and (min-width: 800px) {
	#wanderer-video{
        top:-400px;
	}
}

@media screen and (min-width: 1220px) {
	#wanderer-video{
        top:-600px;
	}
}

#par-city{
	    background:url('../images/city.jpg') no-repeat center center fixed; 
        background-size:cover;
        /*height:750px;*/
        height:750px;
        color:#fff;
        transition: 1s;
}

span{
	text-align: center;
}

#par-beach{
	    background:url('../images/beach.jpg') no-repeat center center fixed; 
        background-size:cover;
        height:750px;
        color:#fff;
        transition: 1s;
}

#par-adventure{
	    background:url('../images/adventure.jpg') no-repeat center center fixed; 
        background-size:cover;
        height:750px;
        color:#fff;
        transition: 1s;
}

#welcome-msg{
	background-color:#5B696E;
	position:relative;
	top:-15px;
	color:#fff;
	font-family: 'Supermercado One', cursive;
}
/**********************Navigation*******************/
#nav-bar{
	background-color: #666666;
}

#wanderer-nav{
	background-color: #666666;
	text-align: center;
	
}

#wanderer-nav a{
	color:#fff;
}

/*********************Explore*************************/
#searchTrip{
	border:5px solid #666666;
	padding:50px;
	border-radius: 10px;
	margin-bottom: 200px;
}

#flightTrips{
	border:5px solid #666666;
	margin-bottom: 25px;
	border-radius: 10px;
}

.flightPrice{
	background-color: #26a69a;
	border-radius: 10px 10px 0 0;
}

.flightPrice p{
	float:right;
	color:#fff;
}

.flightPrice button{
	margin-top: 5px;
	background-color: #30504d;
	border-radius: 10px 10px 0 0;
}