<section ng-init="trips.getList()">
	<div class="container">
		<div id="userDetails">
			<p>Name: <span class="firstName">{{trips.user.first_name}}</span> <span class="lastName">{{trips.user.last_name}}</span></p>
		</div>
		<ul class="row">
			<li ng-repeat="bucket in trips.bucketList">
			 	<div id="bucketFlights" class="col s12 m3">
		    		<div class="col m12">
				  	  	<h5>Outbound:</h5>
		  	  			<p>Origin: {{bucket.outboundOrigin}}</p>
		  	  			<p>Destination: {{bucket.outboundDestination}}</p>
		  	  			<p>Carrier: {{bucket.outboundCarrier}}</p>
		  	  			<p>Departure Date: {{bucket.outboundDepartureDate}}</p>
		    		</div>
		    		<div class="col m12">
		  	  			<h5>Inbound:</h5>
		  	  			<p>Origin: {{bucket.inboundOrigin}}</p>
		  	  			<p>Destination: {{bucket.inboundDestination}}</p>
		  	  			<p>Carrier: {{bucket.inboundCarrier}}</p>
		  	  			<p>Departure Date: {{bucket.inboundDepartureDate }}</p>
		    		</div>
		    		<button class="btn waves-effect waves-light" type="submit" name="action" ng-click="trips.remove(bucket._id)">Remove</button>
	    		</div>
	    	</li>
		</ul>

		<section ng-init="trips.getData()">
			
		</section>
	</div>
</section>