<h1>Explore</h1>

<!-- Video Background -->
<!-- <div class="fullscreen-bg">
    <video loop muted autoplay poster="img/videoframe.jpg" class="fullscreen-bg__video">
        <source src="/images/Heaven-From-Top/WEBM/Heaven-From-Top.webm" type="video/webm">
        <source src="/images/Heaven-From-Top/MP4/Heaven-From-Top.mp4" type="video/mp4">
    </video>
</div> -->

<div class="nav-wrapper container">
  <form class="row" ng-submit="trips.getTrips()">
    <div class="input-field col s8 offset-s2">
      <input id="search" type="search" placeholder="Explore Destination"  ng-model="trips.searchTerm" required>
      <label class="label-icon" for="search"><i class="material-icons"></i></label>
      <i class="material-icons">close</i>
    </div>
  </form>

  <div id="userQuery" class="row">
  	<h6 ng-if="trips.quotesFound">Thank you for waiting, we have found {{trips.quotesFound}} results with your exploration</h6>
  	<ul>
  		<li ng-repeat="flight in trips.flightQuery">
  			<div class="col m6">
	  			<h5>Outbound:</h5>
	  			<p>Origin: {{flight.outboundOrigin}}</p>
	  			<p>Destination: {{flight.outboundDestination}}</p>
	  			<p>Carrier: {{flight.outboundCarrier}}</p>
	  			<p>Departure Date: {{flight.outboundDepartureDate}}</p>
  			</div>
  			<div class="col m6">
	  			<h5>Inbound:</h5>
	  			<p>Origin: {{flight.inboundOrigin}}</p>
	  			<p>Destination: {{flight.inboundDestination}}</p>
	  			<p>Carrier: {{flight.inboundCarrier}}</p>
	  			<p>Departure Date: {{flight.inboundDepartureDate }}</p>
  			</div>
        <div class="col s12">
          <img class="airlineLogo" src="/images/british-air.jpg"/>
        </div>
  			<div class="col s12 flightPrice">
          <button class="col m2 offset-m8 btn waves-effect waves-light">Add to List</button>
  				<p>Price: {{flight.Price | currency : '£'}}</p>
  			</div>
  		</li>
  	</ul>
  </div>

</div>