<section ng-if="!auth.user" class="container">
	<div class="row">
		<div class="col m6 offset-m3">
			Email: <input type="text" ng-model="auth.email">
		</div>

		<div class="col m6 offset-m3">
			Password: <input type="password" ng-model="auth.password">
		</div>

		<div class="col m6 offset-m6">
			<button ng-click="auth.signIn()">Log-in</button>
		</div>
		
		<p ng-if="auth.error">
			Error: {{auth.error}}
		</p>
	</div>
</section>

<section ng-if="auth.user">
	<h3>Don't be silly, you're already logged in....</h3>
</section>